extends ../layouts/layout
block contents 
    .body-content
        .container(style="margin-top: 50px;") 
            .sign-in-page
                .row
                    // Sign-in
                    .col-md-12.col-sm-12.text-success.div-success
                        i.icon-success(class="fal fa-check-circle")
                        h1 Mã đặt lại mật khẩu đã được gửi đến email của bạn
                        